@using Sfinx.Maui.Applink.Services
@using System.Diagnostics
@implements IDisposable
<Router AppAssembly="@typeof(Main).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code
{
    [Inject] public NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

    private void AppServices_AppLinkReceived(object? sender, AppLinkReceivedEventArgs e)
    {
        Trace.WriteLine($"Will navigate now! {e.Data}");
        var url = e.Data;
        // deeplinkAppService.ResetLastAppLink();
        NavigationManager.NavigateTo(e.Data, forceLoad: true);
    }

    void IDisposable.Dispose()
    {
        // deeplinkAppService.AppLinkReceived -= AppServices_AppLinkReceived;
        // DeeplinkAppService.IsRegistered = false;
    }
}